%p
  Hello #{@resource.email}!
%p 以下のリンクをクリックしてパスワードの再設定を行なってください。
%p= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token)
%p リクエストをされていない場合は、このメールを無視してください。
%p 上記のリンクにアクセスしてパスワードを設定するまでは、パスワードは変更されません。
